body{
    margin: 0% auto;
    background-image: url(Assets/TheaterStage.png);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link#hey{
    margin-left: 5px;
    float: left;
}
a:link#hi
{
    margin-right: 5px;
    float: right;
}
section{
    border: solid black 5px;
    border-radius: 9px;
    margin: 0% auto;
    background-color: rgb(255, 255, 255);
    width: 465px;
    height: 283px;
}