section{
    width: 1000px;
    height: 400px;
    margin: auto;
}
nav{
    float: left;
    border-radius: 10px;
    background: radial-gradient(ellipse at center, rgb(238, 133, 133) 20%, rgba(255, 0, 0, 0.900) 55%, rgba(163, 6, 6, 0.900) 100% );
    height: 420px;
    width: 130px;
}
aside{
    border-radius: 10px;
    float: right;
    background: radial-gradient(ellipse at center, rgba(82, 81, 116, 0.9) 10%, rgba(41, 44, 65, 0.9) 40%, rgba(0, 0, 0, 0.9) 100% );
    width: 860px;
    height: 420px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
p{
    width: 650px;
    float: right;
}
image{
    float: left;
}
table{
    margin:auto;
}