section{
    width: 1000px;
    height: 540px;
    background-color: rgba(240, 248, 255, 0.31);
    margin: auto;
}
nav{
    float: left;
    border-radius: 10px;
    background: radial-gradient(ellipse at center, rgb(229, 83, 83) 20%, red 50%, rgb(163, 6, 6) 100% );
    height: 540px;
    width: 180px;
}