body{
    margin: 0% auto;
    background-image:url(Assets/TheaterBackground.jpg) ;
    background-size: 1300px;
}
header{
    border-radius: 20px 20px 10px 10px;
    margin: 0% auto;
    background: radial-gradient(ellipse at center, #ff6464 15%,#ff0000 60%,#a90101 100%);
    width: 1000px;
    height: 100px;
}
section{  
    overflow: auto;
    width: 1000px;
    height: 450px;
    margin: 0% auto;
    margin-top: 10px;
    background: radial-gradient(ellipse at center,  #ffe284 28%,#ffca1a 63%,#f4af00 86%);

}
embed{
    border-radius: 5px;
    margin: 20px;
    float: right;
}
aside{
    padding: 5px;
    background-color: rgb(177, 21, 21);
    height: 390px;
    width: 195px;
    margin: 20px;
    float: left;
}
