header{
    border-radius: 40px 40px 0px 0px;
    margin: 0% auto;
    background-color: rgb(255, 0, 0);
    width: 1000px;
    height: 70px;
}
section{  
    overflow: auto;
    width: 1000px;
    height: 450px;
    margin: 0% auto;
    margin-top: 10px;
    background-color: rgb(255, 202, 26);
}
embed{
    border-radius: 5px;
    margin: 20px;
    float: right;
}
aside{
    padding: 5px;
    background-color: rgb(177, 21, 21);
    height: 390px;
    width: 195px;
    margin: 20px;
    float: left;
}