body{
    background-image: url(Assets/checkerboardBG.jpg);
}
header{
    border-radius: 20px 20px 10px 10px;
    padding: 10px;
    margin: 0% auto;
    background: linear-gradient(to right,  #fc79b6 3%,#ffac30 22%,#ffe284 43%,#85ff1c 63%,#00b6ff 80%,#bc2dff 94%);
    width: 980px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: white;
}
section#fakeBorder{
    border-radius: 10px 10px 5px 5px;
    margin: 0% auto;
    background-color: rgb(253, 175, 224);
    width: 980px;
    height: 99px;
}
section{
    border-radius: 10px;
    margin: 0% auto;
    background-color: rgb(255, 213, 0);
    width: 1000px;
}

nav{
    padding: 100px;
    background-color: #85ff1c;
    width: 100px;
    height: 100px;
    border-radius: 300px;
}

