body{
    background-image: url(Assets/checkerboardBG.jpg);
}
header{
    border-radius: 20px 20px 10px 10px;
    padding: 10px;
    margin: 0% auto;
    background: linear-gradient(to right,  #fc79b6 3%,#ffac30 22%,#ffe284 43%,#85ff1c 63%,#00b6ff 80%,#bc2dff 94%);
    width: 980px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: white;
    text-shadow: 4px 4px 2px rgba(93, 0, 255, 0.399);
    margin-bottom: 10px;

}
section#fakeBorder{
    border-radius: 10px 10px 5px 5px;
    margin: 0% auto;
    background: radial-gradient(ellipse at center, #f9e7eb 1%,#fdd5e0 48%,#ff9bb6 100%);
    width: 980px;
    height: 99px;
}
section{
    border-radius: 10px;
    margin: 0% auto;
    background: radial-gradient(ellipse at center, rgb(255, 247, 204) 10%,rgb(255, 213, 0) 70%,rgb(255, 180, 30) 100%);
    width: 1000px;
    height: 400px;
}

nav{
    margin: 0% auto;
    padding: 50px;
    background: radial-gradient(ellipse at center, #e0ffc6 15%,#85ff1c 50%,#60c806 100%);
    width: 350px;
    height: 100px;
    border-radius: 300px;
}
h3{
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 2px rgba(93, 0, 255, 0.674);
}
a:link#filmstrip{
    border-radius: 20px;
    background: radial-gradient(ellipse at center, white 20%, rgb(0, 0, 0) 100% );
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover#filmstrip{
    border-radius: 20px;
    background: radial-gradient(ellipse at center, rgb(0, 0, 0) 20%, white) 100% ;
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}
a:link#shadow{
    border-radius: 20px;
    background: radial-gradient(ellipse at center, rgb(69, 16, 16) 10%, rgb(255, 0, 0) 80% );
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover#shadow{
    border-radius: 20px;
    background: radial-gradient(ellipse at center, rgb(255, 0, 0) 10%, rgb(69, 16, 16) 80% ) 100% ;
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}
a:link#me{
    border-radius: 20px;
    background: radial-gradient(ellipse at center,  #8edbff 40%,#fca4bb 75%);
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover#me{
    border-radius: 20px;
    background: radial-gradient(ellipse at center,  #fca4bb 40%, #8edbff 75%);
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
}
img#nametag{
    padding-bottom: 10px;
}