body{
    background-color: rgb(83, 83, 83);
}
article{
    margin: 0% auto;
    background-color: rgb(198, 198, 198);
    width: 951.2px;
    padding-top: 5;
    padding-bottom: 40px;
}
section{
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238);
    width: 650px;
    height: auto;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
table{
    margin: auto;
}
nav{
    width: 951.2px;
    margin: auto;
}
header{
    margin: auto;
    background-color: white;
    width: 951.2px;
    height: 100px;
}
th#head{
    padding: 8px;
    border: solid 3px;
}

td#Crockerbert{
    border: solid 5px;
    border-color: rgb(46, 171, 255);

}
td#Strider{
    border: solid 5px;    
    border-color: rgb(255, 111, 0);
}
td#Lalonde{
    border: solid 5px;
    border-color: #be3cff;
}
td#Harley-english{
    border: solid 5px;
    border-color: rgb(39, 213, 62);
}