body{
    background-color: rgb(83, 83, 83);
}
article{
    margin: 0% auto;
    height: 600px;
    background-color: rgb(198, 198, 198);
    width: 951.2px;
    padding-top: 1px;
}
section{
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238);
    width: 650px;
    height: 500;
}
nav{
    
}